####################
# NOTE - This .npmrc is replaced during Jenkins builds
# by one configured by the Config File Management plugin.
#
# Any changes here should be replicated in the Jenkins
# "Managed Files" configuration page
#####################

auto-install-peers=true
save-prefix='~'
strict-ssl=false

# Make sure all our packages are pulled from Artifactory, everything else
# can come from the official registry
@uhsa:registry=https://artifactory.local.mre.canon/artifactory/api/npm/npm-integration/

# Don't hoist ESLint, v9 doesn't need it.
public-hoist-pattern[]=*prettier*

###########
# Whitespace below inserted for Docker override of this file
#
# DO NOT REMOVE
###########

